.motorcycle {
    width: 70%;
}

#MyJumbotron {
    padding-top: 25px;
    padding: 30px;
    margin-right: 250px;
}

section#CardSkills {
    padding-top: 1rem;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* padding-top: .5rem; */
    padding-bottom: .5rem;
}
header,footer {
    min-width: 100vw;
    height: 150px;
    background-color: #858585;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    color: white;
}

#maincontent {
    display: inline-flex;
    width: 100%;
    
}


.menucontent {
    list-style: none;
    padding: 10px;
    margin: 0;
    line-height: 1.4;
}

.links {
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.content {
    width: 60%;
    margin-left: 20px;
}

.menutext {
    padding: 10px;
    text-align: center;
    color: white;
}

ul.menucontent li:first-child {
    font-weight: 600;
}

/*section#interests, #skills {
    float: left;
    width: 50%;
}*/

section#Interests {
    margin-left: 2rem;
}

section#experiences {
    clear: both;
}

.experiencetext {
    display: inline-flex;
}

.skillsimages {
    padding: 30%;
    width: 100%;
}

.footer-phone {
    width:50px ;
    padding: 10px;
        
}

.footer-email{
    display: inline-flex;
    width: 40px;
    padding-bottom: 10px;
}

.listpad {
    padding: 10px;
}

/*.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}*/

#ExperiencesMargin {
    margin-left: 0;
    margin-right: 0;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    /* margin-left: auto; */
}

ul.menucontent.li {
    list-style: none;
}

section#Education {
    margin-left: 2rem;
}

/* .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 400px;
} */

.carousel .item {height: 250px} .item img {position: absolute; top: 0; left: 0; min-height: 200px;}

/* .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 8rem;
} */

.CardSkills {
    display: inline-flex;
    padding-bottom: 2rem;
}

div#CardSkills {
    margin-left: 25%;
    padding-bottom: 2rem;
}

p#DronePilot {
    padding-bottom: 8px;
}

div#CardRow {
    padding-top: 2rem;
}

p#WriterText {
    padding-bottom: 72px;
}

p#WebDevText {
    padding-bottom: 97px;
}


@media only screen and (max-width: 500px) {
    #skills { display: block;}
    header, footer {background-color: #F1C5AE;}
    .menu { background-color: #CED2C2}
    #2019 {display: inline-block;}
}

@media only screen and (max-width: 1000px) {
    #skills { display: inline-block;
    padding: 25px}
    header, footer {background-color: #ABD6DFFF;}
    .menu { background-color: #E7EBE0FF}
}